
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    background: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    overflow-x: hidden;
}

header {
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: #3F72AF;
    height: 60px;
    opacity: 100%;
    z-index: 1000;
}

.headerimg {
    margin-left: 80px;
    width: 60px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.nav-list a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    transition: color 0.3s ease;
}

.nav-list a:hover {
    color: #c59d5f;
}

.nav{
    display:flex;
    align-items:center;
    gap:30px;
}

#searchInput{
    padding:6px 12px;
    border-radius:10px;
    border:1px solid #ccc;
    font-size:14px;
    margin-left:auto;
}

.hero-section {
    width: 100vw;

    height: 100vh;

    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('img/uh.avif');
    background-size: cover;

    background-position: center;
}

.hero-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.scrolldown {
  --color: white;
  --sizeX: 30px;
  --sizeY: 50px;
  position: relative;
  width: var(--sizeX);
  height: var(--sizeY);
  margin-left: var(sizeX / 2);
  border: calc(var(--sizeX) / 10) solid var(--color);
  border-radius: 50px;
  box-sizing: border-box;
  margin-bottom: 16px;
  cursor: pointer;
  top: 100px;
}

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--color);
  border-radius: 100%;
  animation: scrolldown-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px #2a547066;
}

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }

  40% {
    opacity: 1;
    height: 10px;
  }

  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }

  100% {
    height: 3px;
    opacity: 0;
  }
}

.chevrons {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chevrondown {
  margin-top: -6px;
  position: relative;
  border: solid var(--color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.chevrondown:nth-child(odd) {
  animation: pulse54012 500ms ease infinite alternate;
}

.chevrondown:nth-child(even) {
  animation: pulse54012 500ms ease infinite alternate 250ms;
}

@keyframes pulse54012 {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}

.eyebrow {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
    text-transform: none;
}

h1 {
    font-size: 48px;
    color: #000;
    max-width: 600px;
    line-height: 1.2;
}

.button-group {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-top: 30px;
}

.btn-primary {
    background-color: #000;
    color: #fff;
    padding: 12px 24px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.btn-primary:hover {
    background-color: #333;
}

.btn-secondary {
    background-color: #fff;
    color: #000;
    padding: 12px 24px;
    border-radius: 10px;
    border: 1px solid #ccc;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.btn-secondary:hover {
    background-color: #f5f5f5;
}



.pr {
    font-size: 30px;
    margin-top: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.tovar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.product {
    background-color: #fff;
    text-align: center;
    box-shadow: 0 8px 20px #4f638a7c;
    padding: 20px;
    border-radius: 15px;
    width: 330px;
    margin: 10px;
    margin-left: 2%;
    margin-right: 2%;
    opacity: 0;
    position: relative;
    top: 0;
    transform: translateY(40px) scale(0.1);
    transition: all 0.3s ease-out;

    /* анімашка */
    animation: fadeInUp 1s ease-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}


@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}


.product:hover {
    top: -8px;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}

.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    transition: transform 1s ease;
}

.product:hover img {
    transform: scale(1.05);
}

.product h3 {
    font-size: 22px;
    margin-bottom: 10px;
    margin-right: 50%;
    color: #333;
}

.product p {
    margin-bottom: 10%;
    font-size: 18px;
    color: #555;
    line-height: 1.5;
}

.price{
    margin: 0;
    font-weight: 700;
    font-size: 20px;
}


.btn-tovar {
    background: #DBE2EF;
    color: #203255;
    padding: 7px 14px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.4s ease-in-out;
    margin-bottom: 10%;
    margin-right: 3%;
}

.btn-tovar:hover {
    background: #bfcfed;
    backdrop-filter: blur(0px);
 color: #010101;
}

.btn-tovar:active {
    background-image: url(/img/градіент.avif);
  transition: 0.3s;
  transform: scale(0.93);
}

.product-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    background-color: #3F72AF;
    padding: 60px 0 20px;
    font-family: sans-serif;
    margin-top: 30px;
    font-size: 20px;
}

.footer-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 40px;
    height: 200px;
}

.footer-column h3 {
    margin-bottom: 15px;
    color: #ffffff;
    font-size: 25px;
}

.logo {
    margin-bottom: 5px;
    color: #ffffff;
}

.slogan {
    font-style: italic;
    margin-bottom: 10px;
    color: #CF4B00;
}

.description {
    color: #2E2E2E;
    font-size: 14px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column a {
    text-decoration: none;
    color: #fffcfc;
    transition: 0.3s;
}

.footer-column a:hover {
    color: #CF4B00;
}
.footer-column {
    color: #ffffff;
}

.footer-bottom {
    margin-top: 40px;
    padding-top: 20px;
    text-align: center;
    border-top: 1px solid #DDBA7D;
    font-size: 14px;
    color: #d1d1d1;
}

.cart{
    margin-left: auto;
    margin-right: 70px;
    cursor: pointer;
    font-size: 20px;
}

.cart-panel{
    position: fixed;
    right: -350px;
    top: 0;
    width: 300px;
    height: 100%;
    background: white;
    box-shadow: -5px 0 20px rgba(0,0,0,0.2);
    padding: 20px;
    transition: 0.3s;
    z-index: 2000;
}

.cart-panel.active{
    right: 0;
}

.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.qty-btn{
    padding: 2px 8px;
    cursor: pointer;
    border: none;
    background: #eee;
    border-radius: 5px;
}

.qty{
    margin: 0 5px;
}

/* 📱 телефон */
@media (max-width: 768px){

    .nav-list{
        display: none; /* ховаємо меню */
    }

    .headerimg{
        margin-left: 20px;
    }

    .hero-section{
        height: 500px;
    }

    .scrolldown{
        top: 50px;
    }

    #searchInput{
        width: 120px;
        font-size: 12px;
    }

    .product{
        width: 300px;
    }

    h1{
        font-size: 28px;
    }
    .btn-primary {
        width: 180px;
        height: 70px;
        padding-top: 8px;
    }

    .btn-secondary{
        padding-top: 18px;
    }

    .cart{
        margin-right: 15px;
    }

    .footer-container{
        grid-template-columns: 1fr; /* 1 колонка */
        text-align: center;
        height: 1000px;
    }

    .footer-column{
        margin-bottom: 20px;
    }

    .footer-column h3{
        font-size: 20px;
    }

    .footer-column ul li{
        margin-bottom: 6px;
    }

    .footer{
        padding: 40px 10px;
    }

    .footer-bottom{
        font-size: 12px;
    }

}

.pr {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.pr p{
    font-size: 35px;
}

/* --- HERO SECTION (THREE.JS) --- */
    #scene {
      margin-top: 60px;
      width: 100%;
      height: 520px;
      overflow: hidden;
      position: relative;
    }

    .hero-ui {
      position: absolute;
      inset: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      pointer-events: none;
      user-select: none;
      z-index: 10;
    }

    .cart-total{
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}

#order-btn{
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #CF4B00;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.modal {
  display: none; /* спочатку сховано */
  position: fixed;
  z-index: 2000; /* поверх всього */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5); /* затемнення фону */
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 12px;
  width: 90%;
  max-width: 600px;
  text-align: left;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 16px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover {
  color: red;
}

/* Кнопка закриття */
.close {
  background: #ffcc66;
  color: #fff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  font-weight: bold;
  font-size: 18px;
  position: absolute;
  top: -16px;
  right: -16px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: background 0.2s ease;
}
.close:hover {
  background: #ffb933;
}

/* Заголовок та текст */
.modal-content h2 {
  font-size: 28px;
  color: #ff9966;
  margin-bottom: 15px;
}

.modal-content p {
  font-size: 22px;
  line-height: 1.6;
}